<script>

if (!("ontouchstart" in document.documentElement)) {
    document.documentElement.className += " no-touch";
}

</script>

<style>

a:hover {
        color: white;
}

.project-box {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: inline-block;
}

.main-image {
  overflow: hidden;
  /*position: absolute;*/
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.title-box {
  width: 100%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
  /*padding-top: 15px;*/
  padding-bottom: 15px;
  overflow: hidden;
}

.no-touch .project-box:hover > .title-box {
  opacity: 0;
}

.no-touch .project-box:hover > .title-text {
  opacity: 0;
}


.hovergallery img{
-webkit-transform:scale(.95); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(.95); /*Mozilla scale version*/
-o-transform:scale(.95); /*Opera scale version*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
opacity: 0.8; /*initial opacity of images*/
margin: 0 10px 5px 0; /*margin between images*/
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.hovergallery img:hover{
-webkit-transform:scale(1.0); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.0); /*Mozilla scale version*/
-o-transform:scale(1.0); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
opacity: 1;

.wcustomhtml {
overflow-y: visible !important;
overflow-x: visible !important;
}

.containermenu {
    text-align:center;
    margin: 0px;

}
.wrap{
    display:inline-block;
    position:relative;
    cursor:pointer;
  margin:-2px;
  color: #ffffff;

}
.wrap hmenu{
    position:absolute;
    opacity:1;
    top:50%;
    left:0%;
    padding-top:5px;
    text-align:center;
    width:55%;
    line-height:35px;
    z-index:3;
    margin-top:-22px;
    transition:.8s;
  font-size:35px;
  font-family:"Mate SC";
      text-shadow:
    -1px -1px 0 #303030,
    1px -1px 0 #303030,
    -1px 1px 0 #303030,
    1px 1px 0 #303030;  


}

.wrap img {
    display:block;
    width:900px;
    height:110px;
    margin:0px;
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    -webkit-transition:opacity 0.26s ease-out;
    -moz-transition:opacity 0.26s ease-out;
    -ms-transition:opacity 0.26s ease-out;
    -o-transition:opacity 0.26s ease-out;
    transition:opacity 0.26s ease-out;
    transition:500ms;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
#containermenu:hover img {
    opacity:0.65;
}
#containermenu:hover .wrap:hover img {
    opacity:1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    z-index:2;
    position:relative;
    transition:500ms;
}
.wrap:hover hmenu {
    opacity :1;
    width:100%;

}


@media screen and (max-width:500px) {
    #containermenu img {
        width:200px;
        height:133px;
    }
}


</style>

<div>
<a href='{{ project.url | prepend:site.baseurl }}'>
  <div class='project-box'>
    <img class='main-image' alt='{{ project.title }}' src='/public/img/{{ project.img }}' />
    <div class='title-box' font-family='{{ site.font }}'>
      <h4>{{project.title}}</h4>
    </div>
  </div>
</a>
</div>


<!--<div id="containermenu">
  <div class='project-box'>
       <div class="wrap" >
           <hmenu>The Sun</hmenu>
           <img class='main-image' style="max-width:100%" src='/public/img/{{ project.img }}' />
       </div>
  </div>
</div>-->
