---
layout: default
---


<!---  <svg width="600" height="400">
    <line x1="0" y1="0" x2="600" y2="400" stroke="red" stroke-width="2" />
    <line x1="0" y1="400" x2="600" y2="0" stroke="orange" stroke-width="2" />
    <rect x="50" y="100" width="400" height="100" fill="steelblue" />
    <circle cx="250" cy="150" r="50" fill="white" />
    <text x="0" y="300" fill="red" font-size="36" font-weight="bold">D3!!!!!!</text>
  </svg> -->

  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script>
    var svg = d3.select("body")
      .append("svg")
      .attr("width", 600)
      .attr("height",400);

    svg.append("line")
      .attr("x1",0)
      .attr("y1",0)
      .attr("x2",600)
      .attr("y2",400)
      .attr("stroke", "red")
      .attr("stroke-width",2)

    svg.append("line")
      .attr("x1",0)
      .attr("y1",400)
      .attr("x2",600)
      .attr("y2",0)
      .attr("stroke", "orange")

    svg.append("rect")
      .attr("x",50)
      .attr("y",100)
      .attr("width",400)
      .attr("height",100)
      .attr("fill","steelblue")

    svg.append("circle")
      .attr("cx",250)
      .attr("cy",150)
      .attr("r",50)
      .attr("fill","white")

    svg.append("text")
      .attr("x",0)
      .attr("y",300)
      .attr("fill","red")
      .attr("font-size",36)
      .attr("font-weight","bold")
      .text("D3!!!!!!")


	var parts = ["This is", "my first", "data join!"]

	  var sentence = d3.select("body").selectAll("p")
	      .data(parts)
	    .enter()
	      .append("p")
	      .text(function(d) { return d; });


var data = [
      {"group": "II", "x":10, "y" : 9.14},
      {"group": "II", "x":8, "y" : 8.14},
      {"group": "II", "x":13, "y" : 8.74},
      {"group": "II", "x":9, "y" : 8.77},
      {"group": "II", "x":11, "y" : 9.26},
      {"group": "II", "x":14, "y" : 8.1},
      {"group": "II", "x":6, "y" : 6.13},
      {"group": "II", "x":4, "y" : 3.1},
      {"group": "II", "x":12, "y" : 9.13},
      {"group": "II", "x":7, "y" : 7.26},
      {"group": "II", "x":5, "y" : 4.74}
    ];

    var width = 720,
      height = 400;

    var x = d3.scaleLinear()
       .range([0,width])
       .domain([4,15]);

    var y = d3.scaleLinear()
      .range([height, 0])
      .domain([4,15]);

    var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);

var circle = svg.selectAll(".anscombe-circle")
      .data(data)
      .enter()
      .append("circle")
      .attr("class", "anscombe-circle")
      .attr("r",5)
      .attr("cx", function(d) { return x(d.x); })
      .attr("cy", function(d) { return y(d.y); });

    var circleGroup = svg.selectAll(".anscombe-circle-group")
      .data(data)
      .enter()
      .append("g")
      .attr("class", "anscombe-circle-group")
      .attr("transform", function(d) { return "translate(" + x(d.x) + ",", + y(d.y) + ")"});

    circleGroup.append("circle")
      .attr("r", 5);

    circleGroup.append("text")
      .text(function(d) { return "(" + d.x + "," + d.y + ")"; });



    //JS to go here
  </script>
